.footer {
    height: 105px;
    width: 100%;
    background-color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.footer h3 {
    padding-top: 30px;
    color:white;
}

p {
    color:white
}